.music-player {
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    text-align: center;
    .input, .search {
        display: block;
        height: 30px;
        width: 200px;
        margin: 0 auto 100px;
    }
}

.lyric {
    width: 0%;
    height: 500px;
    line-height: 2;
    font-size: 14px;
    padding: 30px 0;
    overflow-y: scroll;
    float: left;
    transition: width ease .5s;
    &::-webkit-scrollbar {
        display:none
    }
}

.song-list {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    font-size: 14px;
    transition: width ease .5s;
}
.song-info {
    width: 100%;
    text-align: center;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &:hover {
        background-color: #f5f5f5;
    }
    .song-name {
        text-align: left;
        font-size: 14px;
        cursor: pointer;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    .author {
        font-size: 12px;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;

    }
    .song-time {
        flex: 1;
        font-size: 12px;
    }
}

.bottom-player {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .pre-play-next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        span {
            border-radius: 50%;
        }
        .pre-song, .next-song {
            border: 1px solid #ccc;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        .pre-song {
            background: url('/assets/pre.png') center center no-repeat;
            background-size: 20px 20px;
            &:hover {
                background-image: url('/assets/pre1.png');
            }
        }
        .next-song {
            background: url('/assets/next.png') center center no-repeat;
            background-size: 20px 20px;
            &:hover {
                background-image: url('/assets/next1.png');
            }
        }
        .play-pause {
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            margin: 0 20px;
            cursor: pointer;
        }
        .on-play {
            background: url('/assets/play.png') center center no-repeat;
            background-size: 25px 25px;
            &:hover {
                background-image: url('/assets/play1.png');
            }
        }
        .on-pause {
            background: url('/assets/pause.png') center center no-repeat;
            background-size: 25px 25px;
            &:hover {
                background-image: url('/assets/pause1.png');
            }
        }
    }
    .song-info {
        width: 60%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .song-info-pic {
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .song-progress {
            width: 100%;
            position: relative;
            .progress-bar {
                display: inline-block;
                width: 80%;
                height: 4px;
                position: absolute;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                top: 50%;
                left: 10%;
            }
            .progress-bar-total {
                background-color: #ccc;
            }
            .progress-bar-new {
                width: 0;
                background-color: skyblue;
            }
            .start-time {
                display: inline-block;
                width: 10%;
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
            .total-time {
                display: inline-block;
                width: 10%;
                position: absolute;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
        }
    }
    .setting {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        span {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .like {
            margin: 0 20px;
            background: url('/assets/like.png') center center no-repeat;
            background-size: 20px 20px;
        }
        .play-pattern {
            background: url('/assets/user.png') center center no-repeat;
            background-size: 20px 20px;
        }
        .loop {
            background: url('/assets/loop.png') center center no-repeat;
            background-size: 20px 20px;
        }

        .single-circle {
            background: url('/assets/single_circle.png') center center no-repeat;
            background-size: 20px 20px;
        }
    }
    .volume {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .volume-icon {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
            background: url('/assets/volume.png') center center no-repeat;
            background-size: contain;
        }
        .volume-percentage {
            width: 100px;
            height: 4px;
            background-color: green;
        }
    }
}

.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url('/assets/bg.jpg') center center no-repeat;
    background-size: cover;
}

.login-panel {
    width: 600px;
    height: 300px;
    .row {
        margin: 0 auto;
        width: 250px;
        border-bottom: 1px solid rgba(255,255,255,.5);
        text-align: center;
        display: flex;
        margin-bottom: 50px;
        input {
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
            margin-left: 20px;
            height: 30px;
            font-size: 14px;
            width: 170px;
            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, .5);
            }
        }
        span {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
        .username {
            background: url('/assets/username.png') center center no-repeat;
            background-size: 20px;
        }
        .password {
            background: url('/assets/password.png') center center no-repeat;
            background-size: 20px;
        }
    }
    button {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 30px;
        display: none;
    }
}
